.btn-next-custom:hover svg path,
.btn-prev-custom:hover svg path {
  fill: #1e2125;
}
.btn-next-custom:hover,
.btn-prev-custom:hover {
  background: #dab571;
  border-color: transparent;
}
.btnPrevJE:hover svg path,
.btnNextJE:hover svg path {
  fill: #fff;
}
