.reason_item .reason_overlay > div > img {
  transition: all 0.3s;
}
@media screen and (min-width: 1024px) {
  .reason_item .reason_overlay > div > img:last-child {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}
.reason_item:hover .reason_overlay > div > img:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.reason_item:hover .reason_overlay > div > img:last-child {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.reason_overlay {
  width: calc(100% - 0.94rem * 2);
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .reason_overlay {
    width: calc(100% - 0.44rem * 2);
  }
}
.reason_overlay > img {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.3s;
}
.reason_item:hover:hover .reason_overlay > img {
  opacity: 1;
  visibility: visible;
}
.reason_item:hover:hover .reason_overlay {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 1023px) {

}