@keyframes moveSun {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-54%); /* Adjust this value as needed */
    }
  }
  @keyframes moveSunMb {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-35%); /* Adjust this value as needed */
    }
  }
  .swiper-pagination-progressbar-fill{
    background-color: #FE4127 !important;
    border-radius: 99rem;
  }
  #sunRiseImg {
    animation: moveSun 2s ease-out forwards;
  }
  @media (max-width: 768px) {
    #sunRiseImg {
      animation: moveSunMb 2s ease-out forwards;
    }
  }
  @keyframes danceBtn {
    0%, 100% {
      transform: translateY(-15%) rotate(-90deg);
    }
    50% {
      transform: translateY(15%) rotate(-90deg); 
    }
  }
  .svgDance {
   animation: danceBtn 2s infinite;
   transition: 0.3s ease;
  }
  .dauphay2 {
    transform:rotateY(180deg);
  }
  .button_hover:hover .group-hover path {
        fill: #Ffff;
  }
  @media (min-width: 769px) and (max-width: 1024px){
    #sunRiseImg {
    top:100%;
      }
  }
  .sixReasonsJE .swiper-pagination-sixReasons{
   width: 4.3125rem;
   background: rgba(255, 239, 239, 0.32);
   color: #FF2727;
  }
  .sixReasonsJE .group{
    background-color: #fff;
    border:1px solid #FF2727;
  } 
  .sixReasonsJE .group svg path{
    fill: #FF2727;
  }