@keyframes danceBtn1 {
    0%, 100% {
      transform: translateY(-15%) rotate(-90deg);
    }
    50% {
      transform: translateY(15%) rotate(-90deg); 
    }
  }
  .svgDance1 {
   animation: danceBtn1 2s infinite;
  }