.itemShowmore,
.secondReasons {
  transition: 0.7s ease-in-out;
}
.listSecurity {
  transition: 0.5s ease-in-out;
}
.processFifth
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #c6a567 !important;
}

.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScrollBar::-webkit-scrollbar {
  display: none;
}
