.itemShowmore, .secondReasons {
    transition: 0.7s ease-in-out;
}
.listSecurity{
    transition: 0.5s ease-in-out;
}
.processFifth .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background:#C6A567 !important;
}