.animate-shake {
    animation: shake 1s ease-in-out infinite;
}

.animate-glow {
    animation: glow 1.5s ease-in-out infinite;
}

.amiation-zoom {
    position: absolute;
    box-shadow: 0 0 0 0 rgb(218 181 113);
    background-color: rgb(218 181 113);
    transition: all .5s;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 3.25rem;
    height: 3.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoom 1.3s infinite;
}

@keyframes shake {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    70% {
        transform: scale(1) translate(-50%, -50%);
        box-shadow: 0 0 0 15px transparent;
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
        box-shadow: 0 0 0 0 transparent;
    }
}