@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .sub-heading {
    @apply text-grey-500 font-SVNLagu lg:text-[1.25rem] md:text-[1.3rem] font-medium leading-[1.5] md:tracking-[0.1rem] uppercase text-[0.625rem] tracking-[0.05rem] opacity-80;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

html {
  font-size: 1vw;
}
@media (max-width: 767px) {
  html {
    font-size: 4.267vw;
  }
}

@media (min-width: 767px) {
  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    @apply bg-[#e6e6e6] my-1;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-[#737373] rounded-full transition-colors;
  }
}

/* button hover */
.button_hover:hover .box_button_hover {
  transform: translateY(0);
}

.transition-300 {
  @apply transition-all duration-300 ease-out;
}

.transition-500 {
  @apply transition-all duration-500 ease-out;
}

/* .hover-opacity {
  @apply transition-300 hover:opacity-60;
} */

.swiper-partner {
  @apply absolute bottom-[2.93rem] md:top-[20rem] left-1/2 -translate-x-1/2 w-[21.75rem] h-[11rem] md:w-[85.0625rem] md:h-[22rem] bg-grey-0/90 md:bg-grey-0 rounded-[0.58565rem] md:rounded-2xl !important;
}

.swiper-partner .swiper-slide {
  @apply flex justify-center items-center p-[1.5rem] md:p-[4rem] md:border-[0.5px] border-[#E6E6E6]/70 !important;
}

/* border radius for section */

.box-container-border {
  border-radius: 3rem 3rem 0rem 0rem;
}
@media screen and (max-width: 767px) {
  .box-container-border {
    border-radius: 1rem 1rem 0rem 0rem;
  }
}
/* set width slide thang máy trang chủ và chi tiết tin tức */
.slideElevator {
  width: calc(100% - 21.625rem - 2.37rem);
}
.productLineJE .dowloadfileJE::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fe4127;
  scale: 1;
  border-radius: 50%;
  transition: 0.7s ease;
  z-index: -1;
}
.productLineJE .dowloadfileJE:hover .dowloadfileJE::before {
  scale: 1.3;
  transition: 0.7s ease;
}
.productLineJE .dowloadfileJE:hover::before {
  transform: scale(1.2);
}
.downArrowTop {
  transition: 0.3s ease;
}
.downArrowBottom {
  transition: 0.3s ease;
}
.productLineJE .dowloadfileJE:hover .downArrowTop {
  bottom: 5%;
  transition: 0.3s ease;
}
.productLineJE .dowloadfileJE:hover .downArrowBottom {
  bottom: -95%;
  transition: 0.3s ease;
}

.toast {
  @apply text-1 flex flex-row items-center !important;
}

@keyframes skeleton {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-skeleton {
  animation: skeleton 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skiptranslate {
  display: none !important;
}
.ddict_btn {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc{
  display: none !important;
}
