.cirleElevatorBg {
    background-image: linear-gradient(180deg, #DAB571 0%, rgba(218, 181, 113, 0.20) 50.14%, rgba(218, 181, 113, 0.00) 77.36%);
    transform: rotate(44.368deg);
}
.dowloadElevator {
    border-radius: 0rem 9999rem 9999rem 0rem;
background: linear-gradient(90deg, rgba(218, 181, 113, 0.30) 0%, #DAB571 64.8%);
}
.lineDownLoadElevator{
    border-radius: 9999rem;
}
.imgArrowFirst {
    transition: 0.3s ease-in-out;
}
.imgArrowSecond {
    transition: 0.3s ease-in-out;
}
.dowloadElevator:hover .imgArrowFirst {
    bottom: 10%;
    transition: 0.3s ease-in-out;
}
.dowloadElevator:hover .imgArrowSecond{
    bottom: -1.5rem;
    transition: 0.3s ease-in-out;
}