.itemOutstandingProject .itemOutStandingProject_overlay .borderImgItemoutStandingProject {
    transition: ease 0.3s;
  }

  .itemOutStandingProject_overlay {
    width: calc(100% - 0.94rem * 2);
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid transparent;
    transition: ease 0.3s;
  }
  .itemOutStandingProject_overlay .borderImgItemoutStandingProject {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: ease 0.3s;
  }
  .itemOutstandingProject:hover:hover .itemOutStandingProject_overlay .borderImgItemoutStandingProject {
    opacity: 1;
    visibility: visible;
  }



.iconArrowOutstanding {
    transition: 0.3s ease;
}
.iconPlusOutstanding {
    transition: 0.3s ease;
}
.itemOutstandingProject:hover .iconArrowOutstanding{
    right: 0;
    transition: 0.3s ease;
}
.itemOutstandingProject:hover .iconPlusOutstanding{
   opacity: 0;
   transition: 0.3s ease;
}